{% extends 'navbar.html' %}
{% block title %}
    履歴の参照・変更
{% endblock %}
{% block content %}
    <div class="text-center mb-3">
        <h3>登録者一覧</h3>
    </div>
    <form method="GET" class="d-flex justify-content-center mx-auto" role="search" enctype="multipart/form-data" style="width:50%">
        <input class="form-control me-2" type="text" name="q" placeholder="名前を入力してください">
        <button type="submit" class="btn btn-outline-dark" style="width:20%">検索</button>
    </form>
    <div class="mb-3">
        <p style="text-align: center;">
            {{persons_count}}人見つかりました(名前をクリックすると個人情報と履歴を確認できます。)
        </p>  
    </div>
    <!-- <p style="text-align: center;">
        名前をクリックすると個人情報と履歴を確認できます。
    </p>
     -->
    <div class="list-group text-center mx-auto" style="width:20%">
        {% for person in persons %}
        <a href="/person_record/{{person}}id={{person.id}}" class="list-group-item list-group-item-action">{{person}}</a>
        {% endfor %}
    </div> 
{% endblock %}