@charset "utf-8";
a {
    color: #0073bc;
    text-decoration: none;
}
a:hover {
    color: #b7dbf2;
    text-decoration: underline;
}
a:active{
    color: #4ca4e8;
}
a:hover img{
    opacity: 0.5;
}