<body>
    <a href="{%url 'home' %}">
        <h3>ホームへ</h3>
    </a>
    <h3>履歴</h3>
    <a href="{% url 'add_records' %}"><h4>履歴の作成はこちら</h4></a>
    <form method="GET" name="condition">
        <label>名前</label>
        <input type="text" name="q" placeholder="search name"><br>
        <label>種類</label>
        <select name="shuttai">
            <option value="shukkin" >出勤</option>
            <option value="taikin" >退勤</option>
            <option value="sonota" >その他</option>
            <option value="no_selection" selected="selected">指定しない</option>
        </select><br>
        <label>期間</label>
        <input type="date" name="start_date">
        <input type="time" name="start_time">~
        <input type="date" name="end_date">
        <input type="time" name="end_time"><br>

        <button name="search">search</button>
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>名前</th>
                <th>種類</th>
                <th>日付</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%for record in records%}
            <tr>
                {%if record.person%}
                <td>{{record.person}}</td>
                {% else %}
                <td> DELETED_PERSON </td>
                {%endif%}
                <td>{{record.get_shuttai_display}}</td>
                <td>{{record.date}}</td>
                <td><a href="/change_records/{{record.id}}"><button>変更、削除</button></a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
</body>