<body>
    <a href="{%url 'home' %}">
        <h3>ホームへ</h3>
    </a>
    <hr>
    <label>名前</label>
    <p>{{person}}</p><br>
    <label>メールアドレス</label>
    <p>{{person.email}}</p><br>
    <label>誕生日</label>
    <p>{{person.birthday}}</p><br>
    <label>写真</label>
    <img src="{{person.image.url}}" alt=""><br>
    <form method=" POST ">
        {% csrf_token %}
        <label for="delete_person ">削除はこちら</label>
        <button id="delete_person " name="delete_person ">削除</button>
    </form>

    {%if records%}
    <h3>{{person}}の履歴です。</h3>
    <table border="1 ">
        <thead>
            <tr>
                <th>日付</th>
            </tr>
        </thead>
        <tbody>
            {%for record in records%}
            <tr>
                <td>{{record.date}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%else%}
    <p>まだ行動履歴がありません</p>
    {% endif %}


</body>