<body>
    <a href="{%url 'home' %}">
        <h3>ホームへ</h3>
    </a>
    <hr>
    <label>名前</label>
    <p>{{person}}</p><br>
    <label>メールアドレス</label>
    <p>{{person.email}}</p><br>
    <label>誕生日</label>
    <p>{{person.birthday}}</p><br>
    {% if person.image %}
    <label>写真</label>
    <img src="{{person.image.url}}" ><br>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label for="delete_person">削除はこちら</label>
        <button id="delete_person" name="delete_person">削除</button>
    </form>
    <label for="modify_person ">個人情報の修正はこちら</label>
    <a href="/person_modify/{{person}}id={{person.id}}"><button id=" modify_person " name="modify_person ">修正</button></a>



    <h3>{{person}}の履歴です。</h3>
    {%if records%}
    <table border="1 ">
        <thead>
            <tr>
                <th>日付</th>
                <th>種類</th>
            </tr>
        </thead>
        <tbody>
            {%for record in records%}
            <tr>
                <td>{{record.date}}</td>
                <td>{{record.get_shuttai_display}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%else%}
    <p>まだ行動履歴がありません</p>
    {% endif %}


</body>