<body>
    <h1>realtime</h1>
    <hr>
    <a href="{% url 'home' %}">
        <h2>ホームへ</h2>
    </a>
    <div name="passed objects container">
        <table border="1">
            <thead>
                <tr>
                    <th>日付</th>
                    <th>種類</th>
                    <th>名前</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records%}
                <tr>
                    <td>{{record.date}}</td>
                    <td>{{record.shuttai}}</td>
                    <td>{{record.person}}</td>
                </tr>
                {% endfor %}

                <script>
                    //js用のフォルダができたらそこにこの機能を入れてもいいかも
                    //1秒に一回再読み込みをする
                    function open_realtime() {
                        window.location.href = '';
                    }
                    setInterval(open_realtime, 1000);
                </script>

            </tbody>
        </table>
    </div>
</body>